.top {
    display: flex;
    justify-content: center;
}

.list {
    list-style-type: none;
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    font-family: "Hero";
    gap: 16px;
}

.header {
    display: flex;
    font-size: 24px;
    padding: 8px;
    margin: 0;
    padding-right: 1200px;
    color: #F9FAF8;  
    font-family: "Hero"; 
    font-weight: bolder;
}

.second {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70%;
}

.awesome {
    font-size: 48px;
    color: green;  
    font-family: "Hero"; 
    font-weight: bolder;
    margin-bottom: -15px;
    align-self: flex-start;
    margin-left: 100px;
    width: 30%;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;  
    font-family: "Hero";
    align-self: flex-start;
    margin-left: 100px;
    width: 30%;
}

.image {
    width: 40%;
    height: 40%;
    display: flex;
    margin-top: -250px;
    margin-left: 1100px;
}

.signUp {
    background-color: #3882F6;
    flex: 0 1 auto;
    border-radius: 7px;
    border: none;
    width: 100px;
    height: 30px;
    font-weight: bold;
    color: #E5E7EB;
    margin-left: 100px;

}

.third {
    display: flex;
    width: 2000px;
    height: 500px;
    justify-content: center;
    position: absolute;
    top: 426px;
    right: 0px;
}

.info {
    display: flex;
    justify-content: center;
    position: relative;
    right: -700px;
}

.boxes {
    display: flex;
    justify-content: space-around;
    gap: 32px;
    flex-flow: row wrap;
}

.card {
    max-width: 300px;
    display: flex;
    top: 290px;
    position: relative;
    right: 200px;
}

.box {
    position: relative;
    top: -150px;
    right: -140px;
    display: flex;
    padding-left: 70px;
    border-radius: 15px;
}

.fourth {
    display: flex;
    width: 2000px;
    height: 500px;
    justify-content: center;
    position: absolute;
    top: 826px;
    right: 0px;
}

.quote {
    font-size: 38px;
    font-weight: light;
    font-style: italic;
    width: 40%;
    position: relative;
    top: 100px;
    right: -80px;
}

.thor {
    font-size: 26px;
    font-weight: bold;
    position: absolute;
    top: 320px;
    right: 540px;
}

.fifth {
    display: flex;
    width: 2000px;
    height: 400px;
    justify-content: center;
    position: absolute;
    top: 1326px;
    right: 0px;
}

.action {
    width: 1000px;
    height: 200px;
    position: relative;
    top: 100px;
    border-radius: 10px;
}

.call {
    font-size: 34px;
    font-weight: bold;
    color: #F9FAF8;
    position: relative;
    top: 20px;
    right: -60px;
}

.signText {
    font-size: 22px;
    color: #E5E7EB;
    position: relative;
    top: 20px;
    right: -60px;
}

.actionSign {
    background-color: #3882F6;
    border-color: #F9FAF8;
    flex: 0 1 auto;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-weight: bold;
    color: #F9FAF8;
    margin-left: 100px;
    position: relative;
    right: -650px;
    top: -28px;
}

.sixth {
    display: flex;
    width: 2000px;
    height: 100px;
    justify-content: center;
    position: absolute;
    top: 1726px;
    right: 0px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}